.praktiki-informatin-continer{
    width: 620px;
    height: 900px;
    background-color: #363636;
    border-radius: 15px;
}
.praktik-data{
    margin: 30px;
}
.praktik-data h2{
    font-weight: initial;
    font-size: 18px;
    line-height: 43px;
    letter-spacing: 0.055em;
    color: #FFFFFF;
}
@media screen and (max-width: 1000px) {
    .praktiki-informatin-continer {
        height: 350px;
    }
}
@media screen and (max-width: 560px) {
    .praktiki-informatin-continer{
        width: 500px;
        height: 320px;
    }
}
